# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.toml
doraemon.toml
# Test binary, built with `go test -c`
*.test
.DS_Store
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
go-prompt
!go-prompt/
surveyt1
!surveyt1/
doraemon
!doraemon/
# Dependency directories (remove the comment below to include it)
vendor/
